body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg {
  background-color: #232323;
  position: absolute;
  z-index: -5;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg:before, .bg:after {
  content: "";
  z-index: -5;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./images/cats.png');
  background-size: 100%;
  animation: move 15s infinite linear;
}

.bg:before {
  z-index: -5;
  right: 100%;
}

@keyframes move {
  from {transform: translateX(  0%);}
    to {transform: translateX(100%);}
}
