.shop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.toggle {
    height: 95vh;
    border-radius: 20px;
    border: #121212 solid;
    width: 30% !important;
    margin-left: 2% !important;
    display: grid;
    grid-template-columns: 1;
}
.container{
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
}
.switch {
    display: flex;
    flex-direction: row;
    margin-top: 20% !important;
    width: 120% !important;
    margin-left: 30% !important;
=======
>>>>>>> main
}

.tog {
    display: grid;
    grid-template-rows: 1;

}
