a:-webkit-any-link {
    color: #eee;
    cursor: pointer;
    margin-right: 2%;
    text-decoration: none;
}
.redirect {
    color: black !important
}
.menu {
    background-color: hsl(0, 0%, 7%);
}
.ham {
    display: none;
}
.reg {
    width: 60%;
}

@media only screen and (max-width: 768px) {
    .reg {
        display: none;
    }
    .ham {
        display: block;
    }
    
}