a:-webkit-any-link {
    color: #eee;
    cursor: pointer;
    margin-right: 2%;
    text-decoration: none;
}
.redirect {
    color: black !important
}
label, #hamburger {display: none;}

#hamitems { 
    display: flex;
}

#navh {
    position: sticky;
}

@media screen and (max-width: 768px){
    /* Show Hamburger Icon */
    #navh, label { 
      display: inline-block; 
      color: #eee;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    /* Break down menu items into vertical */
    #hamitems, Link {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
    }
  
    /* Toggle Show/Hide Menu */
    #hamitems { display: none }
    #navh input:checked ~ #hamitems { display: block !important; }
  }