a:-webkit-any-link {
    color: #eee;
    cursor: pointer;
    margin-right: 2%;
}
.footicons {
    font-size: 30px;
    margin: 5%;

}
.centerfoot {
    padding-right: 45% !important;
    padding-top: .25%;
    padding-bottom: .25%;
}
.css-1viozcy {
    flex-direction: column;
}
.css-b9ap5w {
    width: 100% !important
}
.form {
    margin-bottom: 2%;
    margin-top: 2%;
}
.container {
    display: flex;
    justify-content: center;
}
.formCard {
    border: #121212;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    padding-left: 2%;
    padding-right: 2%;
    width: 30%;
}
.css-cd2v0o {
    width: 100% !important;
    margin-left: 2% !important;
}